// =========== header
$head-bg: #222222;
$foot-btn-subscr: #333333;
$menu-link: #dddddd;
$sub-menu-link: #bbbbbb;
// =========== catalog
$top-sale: #bbbbbb;
$card-info: #444444;
$card-show-more: #333333;
//======== foooter
$foot-bg: #efefef;