@font-face {
    font-family: "CormorantUnicase";
    src: url("../fonts/CormorantUnicase-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "RobotoLigth";
    src: url("../fonts/Roboto-Light.woff2") format("woff2");
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}